__pycache__/
*.pyc
.venv/
env/
venv/
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.tsbuildinfo
__dist__/
dist/
build/
*.egg-info/

.env
.env.*

node_modules/

.trae/
middleware/Lib/
middleware/Scripts/
middleware/crm.db
